{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static '/css/style1.css'%}>
    <title>Document</title>
</head>

<body>
    <header class="logo">LOGO</header>
    <nav class="frame14">
        <a href="#" id="componenet7">Accueil</a>
        <a href="#" id="componenet8">A propos</a>
        <a href="#" id="componenet9">Contact</a>
        <a href="#" id="componenet10">Aide</a>
    </nav>


    <div class="container">
        <h2 id="here">Here</h2>
        <h1 id="dpgr">NAME APP</h1>
        <h4 id="text">Le chat domestique est un mammifère carnivore  de la famille des félidés . Il a quatre pattes qui se terminent par des griffes. Son corps est couvert de poils. Sa tête est ronde, ses oreilles sont petites, ses yeux sont grands et ronds.</h4>
        <div id="rectangle"></div>
        <div class="frame8"><button class="button1">Se Connecter</button></div>


    </div>

    <script src="main.js"></script>
</body>
</html>