<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Réinscription</title>
        <!--Boxiocns CDN Link-->
        <!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>

<script>
    function selectAll() {
        var checkboxes = document.getElementsByName('selections');
        var selectAllCheckbox = document.getElementById('select-all-checkbox');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }
</script>  

{% block content %}
  <h1>Réinscription</h1>
 <form method="GET" action="">
  <div class="search-bar">
        <i class='bx bx-search'></i>
        <input type="text" id="search_term" name="search_term" placeholder="Rechercher un doctorant">
  </div>
  </form> 
 <input type="checkbox" id="select-all-checkbox" onclick="selectAll()"> Sélectionner tout 
  <form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
      <h5>Veuillez sélectionner les doctorants concernés par la réinscription</h5>
  <table class="doctorant-table">
    <thead>
      <tr>
        <th>Sélectionner</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for doctorant in doctorants %}
        <tr>
          <td><input type="checkbox" value="{{ doctorant.id}}" name="selections" ></td>
          <td>{{ doctorant.nom }}</td>
          <td>{{ doctorant.prénom }}</td>
          <td>{{ doctorant.email }}</td>
          <td>{{ doctorant.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <button type="submit">Valider la réinscription</button>
  </form> 

  {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
{% endblock %}


{% block css %}
  <style>
    .doctorant-table {
      border-collapse: collapse;
      width: 100%;
    }

    .doctorant-table th, .doctorant-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    .doctorant-table th {
      background-color: #f2f2f2;
    }

    .doctorant-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .doctorant-table tr:hover {
      background-color: #ddd;
    }
  </style>
{% endblock %}   