
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');

body {
    background: #eee
}

/* #regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    font-family: 'poppins';
    border-radius: 10px
} */

#register{

    font-family: 'poppins';

  color: #214E77;

}

h1 {
    text-align: center;
    font-family: 'poppins';

}

/* input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'poppins';
    /* font-family: Raleway; */

    /* border: 1px solid transparent;
    border-radius: 50px;
    -webkit-appearance: none;
} */ 



/* .tab input:focus{

  border:1px solid   #214E77;
  font-family: 'poppins';
  
  outline: none;
} */

/* input.invalid {
    font-family: 'poppins';
 
    border:1px solid #e03a0666;
} */

/* .tab {
    font-family: 'poppins';

    display: none
} */

button {
    background-color: #64D1B4;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'poppins';
    /* font-family: Raleway; */
    cursor: pointer
}

button:hover {
    opacity: 0.8;
    font-family: 'poppins';

}

button:focus{
    font-family: 'poppins';

  outline: none !important;
}

#prevBtn {
    background-color: #bbbbbb;
    font-family: 'poppins';

}


.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-family: 'poppins';

}

.step {
       height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:  #214E77;
    opacity: 0.5;
    font-family: 'poppins';

}

.step.active {
    opacity: 1
}


.step.finish {
   color: #fff;
   background:  #214E77;
   opacity: 1;

}



.all-steps {
    text-align: center;
    margin-top: 30px;
    font-family: 'poppins';

    margin-bottom: 30px
}

.thanks-message {
    display: none
}
