{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="icon" type="image/png" href="{% static 'css/icone.png' %}">
        <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EsiGrad</title>
    <link rel="stylesheet" href={% static '/css/A_propos.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>

<body>
    <nav class="frame14">
        <a href="{% url 'welcome' %}" id="componenet7" >Accueil</a>
        <a href="{% url 'apropos' %}" id="componenet8">A propos</a>
        <a href="{% url 'contact' %}" id="componenet9" style="color:#90C5FB;">Contact</a>
        
    </nav>
    <div class="A">
        <h2 class="A_propos">Contact</h2>
        <div class="rectangle"></div>
        </h3>
        <div class="text">
            <h4>Adresse e-mail :</h4>
            <p style="margin-left:80px;">li_debbih@esi.dz</p>
            <p style="margin-left:80px;">ln_kouadri@esi.dz</p>
            <h4>Numéro de téléphone :</h4>
            <p style="margin-left:80px;">+213 23 93 91 32</p>
            <h4>Adresse :</h4>
            <p style="margin-left:80px;">Ecole nationale Supérieure d’Informatique ESI, Oued Smar Alger</p>
        </div>

    </div>


</body>

</html>