{% extends 'webapp/main.html' %}

{%block content %}

<div class="window">

  <h2 class="sous-titre">Liste des utilisateurs</h2>
        
  <div class="content">
    <table>
   <thead>
      <tr>
        
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Group</th>
      </tr>
   </thead>
   <tbody>

  {% for user in page_obj %}
    <tr>
      
      <td>{{ user.first_name}}</td>
      <td>{{ user.last_name}}</td>
      <td>{{ user.email }}</td>
      <td>
        
        
        {% for group in user.groups.all %}
                {{  group.name  }}
      
        {%endfor%}
      
      </td>
    </tr>
    {% empty %}
                  <div class="row">
                      <td colspan="9">Aucun résultat.</td>
                  </div>
  {% endfor %}


  {% if page_obj.has_previous %}

  <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% if request.GET.sort_reverse %}&sort_reverse={{ request.GET.sort_reverse }}{% endif %}{% endif %}" style="text-decoration : none ;"><i class='bx bxs-left-arrow-circle' style="color: #2A2D37;font-size:30px;"></i></a>
{% endif %}
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% if request.GET.sort_reverse %}&sort_reverse={{ request.GET.sort_reverse }}{% endif %}{% endif %}" style="text-decoration : none ;">
    <i class='bx bxs-right-arrow-circle' style="color: #2A2D37;font-size:30px;"></i>
</a>
{% endif %}

</tbody>
</table>
</div>
</div>


 {% block css %}
 <style>

  .window {
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    border-radius: 23px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
}


  
  .table-container {
    max-height: 400px;
    overflow-y: scroll;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: none;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #fff;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #fff;
  }
  


  .submit-button {
    padding: 5px 10px;
    background-color: #FEB4A9;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}


.submit-button:hover {
  cursor: pointer;
  background-color: #d3d4ca;
}
 </style>         

{% endblock %} 
 
{% endblock %} 



      
      
      




      
      
      



