

{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'css/icone.png' %}">
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static '/css/cnx.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <script src="main2.js"></script>
    <script src="jquery-3.6.3.min.js"></script>
    <script src="https://example.com/fontawesome/v5.15.4/js/all.js" ></script>

    <title>EsiGrad</title>
</head>

<script src="main.js"></script>
<body>
    
    <nav class="frame14">
        <a href="{% url 'welcome' %}" id="componenet7" style="color:#90C5FB;">Accueil</a>
        <a href="{% url 'apropos' %}" id="componenet8">A propos</a>
        <a href="{% url 'contact' %}" id="componenet9">Contact</a>
        
    </nav>
<div class="connex">
    <h3 class="Connexion">Connexion</h3>
    <div class="rectangle"></div>
 

      <form action=""  method="post">
        {% csrf_token %}

        <div class="Email">
            <i class="fas fa-user" style="display: inline-block;margin-right:20px;"></i>
            <p style="display: inline-block; margin: 0 10px;">Votre Email:</p> 
             {{ form.username }} 
             <div class="under"></div>
        </div>

       <div class="pwc">
           <i class="fas fa-lock" style="display: inline-block;margin-right:20px;"></i>
           <p style="display: inline-block; margin: 0 10px;"> Mot de passe:</p>
                {{ form.password }}
            <div class="under"></div>
       </div>
      
       
     
       <button type="submit" class="button2">Se Connecter</button>
    </form>



    
    <a href="#" class="pw">mot de passe oublie?</a>
</div>
</body>
</html>